body {
    background: rgb(82, 189, 247);
}

h1 {
    text-align: center;
    color: dimgrey;
}

h2 {
    text-align: center;
    color: dimgrey;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.texto-primario {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 6em
    color: rgb(63, 64, 66);
}

ol {
    text-align: center;
    list-style-position: inside;
}